
.Button{
    border-radius: 0.75rem;
    color: inherit;
    outline: none;
    border: none;
    cursor: pointer;
}

.Button img{
    max-width: 25px;
}

.largeButton{
    padding: 0.5rem 2rem;
    font-weight: 500;
}

.smallButton{
    padding: 0.5rem;
    font-weight: 500;
}

.gradientGreen{
    background: linear-gradient(90deg, #B5DC52 0%, #89E148 100%);

}
.gradientRed{
    background: linear-gradient(90deg, #FF9595 0%, #FF4747 80%, #FF3838 100%);
}

.backgroundOrange{
    background-color: var(--color-orange);
}
.backgroundRed{
     background-color:  var(--color-red);
}
.backgroundWhite{
    background-color: white;
    color: #000;
}