
.Modal{
    /* width: 100vw;
    height: 100vh; */
    background-color: rgba(255, 255, 255, 0.418);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalBody{
    background-color: #EFEFEF;
    border-radius: 0.5rem;
    max-width: 90vw;
    width: 500px;
    padding: 1rem;
}
.modalForm{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
}
.modalBody h4{
    font-size: 1.875rem;
    color: black;
}

.modalBody input, .modalBody select, .modalBody button{
    padding: 0.5rem 0.25rem;
    outline: none;
    border: none;
    border-radius: 0.25rem;
    background-color: var(--color-white);
    width: 200px;
    padding: 0.25rem;
}